{% extends 'base.html' %}

{% block body %}
<style>
table{
        background-color: transparent;
    }
th{
    padding: 10px;

}
td {
    padding: 10px;
    width: 400px;
    border-right: 10px;
    border-right-color: black;

}
tr:nth-child(even) {background: whitesmoke}
tr:nth-child(odd) {background: white}

</style>



<table id = "Table" align="center">
    <tr>
        <th>
           <b><u>Team</u></b>
        </th>

        <th>
           <b><u>Project Assigned</u></b>
        </th>

    </tr>

{% for team in project_teams %}

    <tr>
    <td>
        {{ team }}
    </td>

    <td>
        {{ project_teams.team}}
    </td>
    </tr>


{% endfor %}


</table>

{% endblock %}