{% extends 'basenolog.html' %}

{% block body %}

    <style>

        #id_password1{
            width: 240px;
            height: 40px;
            text-indent: 10px;
        }

        #id_password2{
            width: 240px;
            height: 40px;
            text-indent: 10px;
        }

        #id_security_code{
            width: 240px;
            height: 40px;
            text-indent: 10px;
        }

        .container {
            width: 700px;
            margin-right: auto;
            margin-left: auto;
        }

        button{
            background-color:rgba(0,0,0,0.20);
        }
        button:hover {
            background-color:rgba(0,0,0,0.10);
        }

        label{
            font-size: 20px;
        }
        #error{
            color: red;
        }
        #login-button{
            background-color: red;
            color: white;
        }
        #register-button{
            background-color: green;
            color: white;
        }
    </style>
    <div class="container">
        <div class="jumbotron">
            <div class="jumbotron-heading">
                <center><h1>
                    Change Password
                </h1></center>

                <br>
            </div>
            <h3 align="center">{{ msg }}</h3>
        <div id="error">
            <p align="center"><b>{{ error_msg }}</b></p>
        </div>
            <form method="post" action="/change_password/{{ member.username }}/">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <br>
                            {% if field.help_text == "<ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>" %}
                                <small style="color: grey">
                                    Your password must contain at least 8 characters.<br>
                                    Your password can't be all numbers.<br>
                                </small>
                            {% else %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                        {% endif %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}
            <br>
            <br>
                <button id="login-button" type="button" class="pull-left btn btn-large" onclick="window.location.href='/' ">Home</button>
                <button id="register-button" type="submit" value="Register" class="pull-right btn  btn-large">Change Password</button>

            </form>
        </div>
    </div>

{% endblock %}