{% extends 'basenolog.html' %}

{% block body %}

    <style>
    .jumbotron{
        background-color: white;
        border: 2px solid black;;
    }
    label{
        font-size:150%;
    }
    #single-email-box{
        margin-left:25%;
        width:20%;
    }
    #file-input{
        float:left;
        margin-left:35%;
        width:18%;
    }
    #submit{
        float:right;
        margin-right:34%;
          background: green;
          color: white;
        border:none;
        height:5%;
        width:12%;
          border-radius: 4px;
    }
    #side_button{
        background-color: white;
        width: 15%;
        color: black;
        border: 2px solid black;
    }
    </style>

    <h4 align = 'center'><b>{{ msg }}</b></h4>
    <div class="container">
        <div class="jumbotron">
            <div class="jumbotron-heading">
                <h2 align="center">
                    Enter your email address to retrieve your account.
                </h2>
                <br>
            </div>

            <form method="post" action="/forgot_password/">
                {% csrf_token %}
                <div class="container" id="container">
                <div id="input" class="row">
                    <center><label id='single-email' for="Email">Enter Email:</label>
                <br>
                <input autocomplete="off" name="email" placeholder="Email" type="text" id="single-email-box">
                    <button class="btn btn-large" id="submit">SUBMIT</button></center>

            </div>
                </div>
            </form>
        </div>
    </div>
    <p align = "center"><button class="btn btn-large" id="side_button" onclick="window.location.href='/'"><b>Return Home</b></button>
    </p>


{% endblock %}
