{% extends 'base.html' %}
{% block body %}



<style>
#side_button{
        background-color: white;
        width: 15%;
        color: black;
        border: 2px solid black;
    }
</style>


<h1 align="center">Registration reminder emails have been sent to the following addresses:</h1>
{% for email in emails %}
    <h3 align="center">{{ email }}</h3>
{% endfor %}
<br>
<br>
    <p align = "center"><button class="btn btn-large" id="side_button" onclick="window.location.href='/space/{{ space.url }}/'"><b>Done</b></button>

{% endblock %}