{% extends 'base.html' %}

{% block body %}
<style>

#shift{
        text-align: center;
}

#center_button{
        position: absolute;
        right: 40%;
        background-color: white;
        width: 20%;
        color: black;
        border: 4px solid black;
    }

table{
        background-color: transparent;
    }
th{
    padding: 10px;

}
td {
    padding: 10px;
    width: 400px;
    border-right: 10px;
    border-right-color: black;

}
tr:nth-child(even) {background: whitesmoke}
tr:nth-child(odd) {background: white}

</style>


<h1 align="center">
    Project-Team Assignments for {{ space }}
</h1>

<div align="center">
{% if not list.exists %}
            <b>Teams have not been assigned to projects for this space</b>
{% endif %}
</div>

<table id = "Table" align="center">
    <tr>
        <th>
           <b><u>Team</u></b>
        </th>

        <th>
           <b><u>Project Assigned</u></b>
        </th>

    </tr>

{% for team in teams %}

    <tr>
    <td>
        <b>{{ team }}</b>
    </td>

    <td>
        {% for project_team in list %}
            {% if project_team.team == team and not project_team.assigned %}
                <b>Unassigned</b>
            {% elif project_team.team == team and project_team.assigned %}
                <b>{{ project_team.project.name }}</b>
            {% endif %}
        {% endfor %}
    </td>
    </tr>

{% endfor %}

</table>
<form method="post">
    {% csrf_token %}
    <div id="shift">
        <br>
        <br>
        <button class="btn btn-large" id="center_button" value="comprehensive" onclick="window.location.href='/{{ space.url }}/assign_teams/'"><b>Assign Teams based on all member Preferences</b></button>
        <br>
        <br>
    </div>


    <div id="shift">
        <br>
        <br>
        <button class="btn btn-large" id="center_button" value="representative" onclick="window.location.href='/{{ space.url }}/assign_teams/'"><b>Assign Teams based on Team Representative</b></button>
        <br>
        <br>
    </div>
</form>

<div align="center">
        <br>
        <br>
        Note: If a project was recently deleted from the space, one of the above buttons must be selected to properly re-assign teams
</div>

{% endblock %}