{% extends 'base.html' %}

{% block body %}
<style>

#center_button{
        padding-left:50%;
        background-color: white;
        width: 50%;
        color: black;
        border: 4px solid black;
    }

table{
        background-color: transparent;
    }
th{
    padding: 10px;

}
td {
    padding: 10px;
    width: 400px;
    border-right: 10px;
    border-right-color: black;

}
tr:nth-child(even) {background: whitesmoke}
tr:nth-child(odd) {background: white}

</style>


<h1 align="center">
    Project-Team Assignments
</h1>

<table id = "Table" align="center">
    <tr>
        <th>
           <b><u>Team</u></b>
        </th>

        <th>
           <b><u>Project Assigned</u></b>
        </th>

    </tr>

{% for project in list %}

    <tr>
    <td>
        {% if project.team == None %}
            <b>Unassigned</b>
        {% else %}
            <b>test</b>
        {% endif %}
    </td>

    <td>
        <b>{{ project.name }}</b>
    </td>
    </tr>

{% endfor %}

</table>
<div id="center">
    <br>
    <br>
    <button class="btn btn-large" id="center_button" onclick="window.location.href='/{{ space.url }}/assign_teams/'"><b>Assign New Teams</b></button>
    <br>
    <br>
</div>
{% endblock %}